/* ==========================================================================
   OBJECTS / CONTAINER
   ========================================================================== */

/** @define o-container */

.o-container {
  max-width: 1200px; // 1140px with padding
  padding-right: $global-spacing-unit;
  padding-left: $global-spacing-unit;
  margin-right: auto;
  margin-left: auto;
}
