/* ==========================================================================
   OBJECTS / CONTAINER
   ========================================================================== */

/** @define o-container */

.o-container {
  max-width: 1140px;
  box-sizing: content-box;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  margin-right: auto;
  margin-left: auto;
}
