/* ==========================================================================
   OBJECTS / CONTAINER
   ========================================================================== */

/** @define o-container */

.o-container {
  width: 92.5%;
  max-width: 63.33rem; // 1140px
  margin: 0 auto;

  @include mq($from: medium) {
    width: 85%;
  }
}
