/* ==========================================================================
   OBJECTS / LIST-BARE
   ========================================================================== */

/**
* The list-bare object removes indents and bullet points from any list.
*/

.o-list-bare {
  margin-left: 0;
  list-style: none;
}
