/* ==========================================================================
   UTILITIES / SPACING
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding-all {}
 */

$directions: (
  null,
  -top,
  -right,
  -bottom,
  -left,
);

$properties: (
  padding,
  margin
);

$sizes: (
  null: $spacing-unit,
  -small: $spacing-unit-small,
  -large: $spacing-unit-large,
);

@each $property in $properties {
  @each $direction in $directions {

    // This is a bit nasty… If we have a `null` direction, the implication is that
    // we want to use the respective property on all sides (TRBL). Accordingly,
    // create a string of `-all` to use in our class name.
    $all: null;

    @if ($direction == null) {
      $all: -all;
    }

    @each $size, $value in $sizes {

      .u-#{$property}#{$direction}#{$all}#{$size} {
        #{$property}#{$direction}: $value !important;
      }

    }

  }

}
