/* ==========================================================================
   ELEMENTS / TABLES
   ========================================================================== */

table {
  width: 100%;
}

th,
td {

  // Remove outside padding for the left-side
  &:first-child {
    padding-left: 0;
  }

  // Remove outside padding for the right-side
  &:last-child {
    padding-right: 0;
  }
}
