// =============================================================================
// SETTINGS / BREAKPOINTS
// =============================================================================

// Define our breakpoints for later use with Sass MQ. The key (e.g. `small`)
// becomes the alias for a breakpoint; the value (e.g. `320px`) is that point at
// which that breakpoint kicks in. These pixel values will be conveted into ems
// by Sass MQ.
//
// Make use of these breakpoints like so:
//
//   .foo {
//     color: red;
//
//     @include mq($from: small) {
//       color: green;
//     }
//
//   }
//
// This will compile to:
//
//   .foo {
//     color: red;
//   }
//
//   @media (min-width: 20em) {
//     .foo {
//       color: green;
//     }
//   }

$mq-breakpoints: (
  small:   320px,
  medium:  740px,
  large:   980px,
  x-large: 1300px
) !default;
