// =============================================================================
// SETTINGS / COLORS
// =============================================================================

$colors: (
  brand:     #0072c9,
  highlight: #4d9ed6,
  error:     #d0021b,
  success:   #299934,
  keyline:   #c0c0c0,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff
);

$gradient: (
  large: (
    end: #cdccd4,
    mid: #fff
  ),
  small: (
    end: #f2f2f5,
    mid: #fff
  )
);

// Function to get color instead of using map-get
// http://www.sitepoint.com/using-sass-maps/

// Seperate to a functions file?
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// Seperate to a functions file?
@function gradient($name, $variant:null) {
  @if ($variant != null) {
    @return map-get(map-get($gradient, $name), $variant);
  }

  @else {
    @return map-get($gradient, $name);
  }
}
