// =============================================================================
// SETTINGS / COLORS
// =============================================================================

// Our brand and project colours are held in maps. Access these colours using:
//
//   color($KEY)
//
// For example:
//
//   .foo {
//     color: color(brand);
//   }
$colors: (
  brand:     #0072c9,
  highlight: #73add8,
  error:     #ff2744,
  success:   #299934,
  keyline:   #c0c0c0,
  ui-dark:   #222,
  ui-light:  #e6e6ea,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff
);

$gradients: (
  large: (
    end: #cdccd4,
    mid: #fff
  ),
  small: (
    end: #f2f2f5,
    mid: #fff
  ),
  sky-1: (
    end: #0082dc,
    mid: #1ea0f5
  ),
  sky-account: (
    end: #135fa0,
    mid: #197bc9
  ),
  sky-atlantic: (
    end: #003c7d,
    mid: #005aaf
  ),
  sky-arts: (
    end: #fa0050,
    mid: #fa5569
  ),
  sky-box-sets: (
    end: #5b1139,
    mid: #7f0c2d
  ),
  sky-kids: (
    end: #4b007e,
    mid: #652d9f
  ),
  sky-living: (
    end: #69879b,
    mid: #69a0b4
  ),
  sky-movies: (
    end: #67135a,
    mid: #8f2679
  ),
  sky-news: (
    end: #061b55,
    mid: #153073
  ),
  sky-sports: (
    end: #041456,
    mid: #132774
  ),
  sky-store: (
    end: #036,
    mid: #0e429e
  )
);
