// =============================================================================
// SETTINGS / COLORS
// =============================================================================

$colors: (
  brand:     #0072c9,
  highlight: #73add8,
  error:     #ff2744,
  success:   #299934,
  keyline:   #c0c0c0,
  ui-dark:   #222,
  ui-light:  #e6e6ea,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff
);

$gradients: (
  large: (
    end: #cdccd4,
    mid: #fff
  ),
  small: (
    end: #f2f2f5,
    mid: #fff
  )
);
