// =============================================================================
// SETTINGS / Z-INDEX
// =============================================================================

// Our z-index values are held in maps for ease of use.
// Access these values using:
//
//   z-index($KEY)
//
// For example:
//
//   .foo {
//     z-index: z-index(content);
//   }

$z-index: (
  under-control:   -40,
  under-content:   -20,
  content:         0,
  over-content:    20,
  over-control:    40,
  over-page:       60,
  over-screen:     80,
  over-everything: 100,
) !default;
