/* ==========================================================================
   BASE / LINKS
   ========================================================================== */

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
