/* ==========================================================================
   BASE / LINKS
   ========================================================================== */

a {
  color: color(brand);
  text-decoration: none;
  cursor: pointer;

  @include hocus() {
    text-decoration: underline;
  }
}
