/* ==========================================================================
   BASE / TYPOGRAPHY
   ========================================================================== */

/* Settings
  =========================================== */

$text-alpha: 62px;
$text-beta: 48px;
$text-gamma: 36px;
$text-delta: 28px;

$text-body: 22px;
$text-body-small: 18px;
$text-caption: 14px;

/* Elements
   =========================================== */

h1, h2, h3, h4 {
  font-weight: normal;
}

h1 {
  @include font-size($text-alpha);
}

h2 {
  @include font-size($text-beta);
}

h3 {
  @include font-size($text-gamma);
}

h4 {
  @include font-size($text-delta);
}

p {
  @include font-size($text-body);
}

small {
  @include font-size($text-caption);
}
