/* ==========================================================================
   GENERIC / VERTICAL RHYTHM
   ========================================================================== */

// Margin bottom and all that

h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dl,
blockquote,p,address,
table,
fieldset,figure,
pre {
  margin-bottom: $spacing-unit;
}

ul, ol,
dd {
  margin-left: $spacing-unit;
}
