// =============================================================================
// TOOLS / FUNCTIONS
// =============================================================================

// $text map reader
// ===========================================

// Function to get text instead of using `map-get`.
@function text($key, $variant:large) {
  @if map-has-key($text, $key) {
    @if ($variant != null) {
      @return map-get(map-get($text, $key), $variant);
    }

    @return map-get($text, $key);
  }

  @warn "Unknown `#{$key}` in $text.";
  @return null;
}

// $colors map reader
// ===========================================

// Function to get colour values instead of using nested `map-gets`.
//
// Usage:
//
//   .foo {
//     color: color(<key>);
//   }
//
@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }

  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}

// $gradients map reader
// ===========================================

// Function to get gradients instead of using `map-get`.
@function gradient($key, $variant:end) {
  @if map-has-key($gradients, $key) {
    @if ($variant != null) {
      @return map-get(map-get($gradients, $key), $variant);
    }

    @return map-get($gradients, $key);
  }

  @warn "Unknown `#{$key}` in $gradients.";
  @return null;
}
