// =============================================================================
// TOOLS / GRADIENTS
// =============================================================================

@mixin background-gradient($key, $orientation:null) {
  @if map-has-key($gradients, $key) {
    // Set values from $gradients variable map to local variables
    $endColor: gradient($key, end);
    $midColor: gradient($key, mid);
    // Set fallback background color to the end gradient value.
    background: $endColor;

    // If orientation is defined as linear (or undefined), output linear gradient
    @if $orientation == "linear" or $orientation == null {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$endColor", endColorstr="$midColor", GradientType=1);
      background: -webkit-gradient(left top, right top, color-stop(0%, $endColor), color-stop(50%, $midColor), color-stop(100%, $endColor));
      background: -webkit-linear-gradient(left, $endColor 0%, $midColor 50%, $endColor 100%);
      background: -moz-linear-gradient(left, $endColor 0%, $midColor 50%, $endColor 100%);
      background: -o-linear-gradient(left, $endColor 0%, $midColor 50%, $endColor 100%);
      background: linear-gradient(to right, $endColor 0%, $midColor 50%, $endColor 100%);
    }
    // If orientation is defined as radial, output radial gradient
    @else if $orientation == "radial" {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$endColor", endColorstr="$midColor", GradientType=1);
      background: -webkit-gradient(radial, center center, 0, center center, 100%, color-stop(0%, $midColor), color-stop(100%, $endColor));
      background: -webkit-radial-gradient(center, circle cover, $midColor 0%, $endColor 100%);
      background: -moz-radial-gradient(center, circle cover, $midColor 0%, $endColor 100%);
      background: -o-radial-gradient(center, circle cover, $midColor 0%, $endColor 100%);
      background: radial-gradient(center, circle cover, $midColor 0%, $endColor 100%);
    }
  }

  @else {
    @warn "Unknown `#{$key}` in $gradients.";
  }
}
