// =============================================================================
// TOOLS / GRADIENTS
// =============================================================================

// Background Gradient generator
// ===========================================

// Mixin to generate complete background gradients. Uses values from our map in
// `settings/_colors.scss`.
//
// Example usage:
//
//   html {
//     @include background-gradient(sky-sports, horizontal);
//   }

@mixin background-gradient($key, $direction:"vertical") {
  @if map-has-key($gradients, $key) {

    // Set values from $gradients variable map to local variables
    $startColor: gradient($key, start);
    $endColor: gradient($key, end);

    // The direction map stores values for the direction for both prefixed and
    // standard linear-gradient
    $direction-map: (
      vertical: (
        legacy: top,
        standard: to bottom
      ),
      horizontal: (
        legacy: left,
        standard: to right
      )
    );

    // Check if direction exists in direction map:
    @if map-has-key($direction-map, $direction) {
      // Fetch both the legacy and standards version for given direction
      $direction-legacy: map-get(map-get($direction-map, $direction), legacy);
      $direction-standard: map-get(map-get($direction-map, $direction), standard);

      $gradient-color-points: $startColor 0%, $endColor 100% !default;

      // Force horizontal to conform to brand 3 point gradient and vertical to
      // a 2 point gradient.
      @if ($direction == "horizontal") {
        $gradient-color-points: $startColor 0%, $endColor 50%, $startColor 100%;
      }

      @else {
        $gradient-color-points: $startColor 0%, $endColor 100%;
      }

      background-color: $endColor; // Fallback for browsers lacking linear gradient
      background-image: -webkit-linear-gradient($direction-legacy, $gradient-color-points);
      background-image: -moz-linear-gradient($direction-legacy, $gradient-color-points);
      background-image: -o-linear-gradient($direction-legacy, $gradient-color-points);
      background-image: linear-gradient($direction-standard, $gradient-color-points);
    }

    @else {
      @warn "#{$direction}` is not a valid direction, it must be vertical or horizontal.";
    }
  }

  @else {
    @warn "Unknown `#{$key}` in $gradients.";
  }
}
