// =============================================================================
// TOOLS / MIXINS
// =============================================================================

// Add color to color map (settings/_colors)
// ===========================================

// $name - Name of the color
// $value - Hex value of the color

// For example:
//
//   @include add-color(sky1, #0076be);
//
//   .foo {
//     color: color(sky1);
//   }
@mixin add-color($key, $value) {
  $new-color: ($key: $value);

  @if type-of($value) == color {
    $colors: map-merge($colors, $new-color) !global;
  }

  @else {
    @warn "#{$value} is not a valid color.";
  }
}

// Focus outline
// ===========================================

// Generates a consistent outline shadow for use on `:focus` or `.has-focus`.
@mixin focus-styles($color: default) {
  outline: none;

  @if ($color == "default") {
    box-shadow: 0 1px 3px rgba(color(black), 0.4), 0 1px 15px 3px rgba(color(highlight), 0.75);
  }

  @elseif ($color == "invert") {
    box-shadow: 0 1px 3px rgba(color(black), 0.75), 0 1px 15px 3px rgba(color(white), 0.75);
  }

  @else {
    @warn "`#{$color}` is not a valid outline color, it must be `default` or `invert`.";
  }
}

// Making accessible hover/focus states simpler
// ===========================================

// Generate `:hover` and `:focus` styles in one go.
// http://www.456bereastreet.com/archive/201004/whenever_you_use_hover_also_use_focus/
@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}

// Removing elements from view and/or ATs
// ===========================================

// Visually hide content, leaving it accessible to screenreaders and ATs.
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin hide-visually() {
  /* Hiding elements visually overrides any matching property declarations */
  /* stylelint-disable declaration-no-important */
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  /* stylelint-enable */
}

// Completely hide content both visually from the screen, and from screenreaders
// and ATs.
@mixin hide-completely() {
  /* Hiding elements completely overrides any matching property declarations */
  /* stylelint-disable declaration-no-important */
  display: none !important;
  /* stylelint-enable */
}

// Clearfix mixin for use later in the project
// ===========================================
@mixin clearfix() {

  &::after {
    content: "";
    display: table;
    clear: both;
  }

}
