// =============================================================================
// TEST / TOOLS / GRADIENTS
// =============================================================================

@import "../../tools/gradients";

// Test configuration
// ===========================================

@mixin gradients_before {
  $gradients: (
    testKey: (
      end: #000,
      mid: #fff
    )
  ) !global;
}

// Font size mixin
// ===========================================

@include test-module("@mixin background-gradient") {
  @include gradients_before();

  @include test("should return a linear gradient for the given key") {
    @include assert("compiles linear gradient") {
      @include input {
        @include background-gradient(testKey, "linear");
      }

      @include expect {
        background-color: #000;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000", endColorstr="#fff", GradientType=1);
        background-image: -webkit-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: -moz-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: -o-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: linear-gradient(to right, #000 0%, #fff 50%, #000 100%);
      }
    }
  }

  @include test("should return a linear gradient if no orientation is provided") {
    @include assert("compiles linear gradient") {
      @include input {
        @include background-gradient(testKey);
      }

      @include expect {
        background-color: #000;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000", endColorstr="#fff", GradientType=1);
        background-image: -webkit-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: -moz-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: -o-linear-gradient(left, #000 0%, #fff 50%, #000 100%);
        background-image: linear-gradient(to right, #000 0%, #fff 50%, #000 100%);
      }
    }
  }

  @include test("should return a radial gradient for the given key") {
    @include assert("compiles linear gradient") {
      @include input {
        @include background-gradient(testKey, "radial");
      }

      @include expect {
        background-color: #000;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000", endColorstr="#fff", GradientType=1);
        background-image: -webkit-radial-gradient(center, circle cover, #fff 0%, #000 100%);
        background-image: -moz-radial-gradient(center, circle cover, #fff 0%, #000 100%);
        background-image: -o-radial-gradient(center, circle cover, #fff 0%, #000 100%);
        background-image: radial-gradient(circle farthest-corner at center, #fff 0%, #000 100%);
      }
    }
  }
}
